<div class="container">
  <div class="row">
    <div class="col-md-offset-3 col-md-6">

      <% if @cocktail.errors.any? %>
      <h2>HOUSTON We a problem.</h2>
      <ul>

        <% @cocktail.errors.full_messages.each do |error| %>
        <li><%= error %></li>
        <% end %>
      </ul>

      <% end %>

      <%= simple_form_for(@cocktail) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name %>
      </div>

      <div class="form-actions">
        <%= f.button :submit %>
      </div>
      <% end %>
      <!-- -->

    </div>
  </div>
</div>
